{{#paper-content padding=true}}
<div class="layout-row">
  {{#unless trackBusesTask.isRunning}}
    {{#paper-button class="flex-none" raised=true fab=true onClick=(perform trackBusesTask)}}{{paper-icon 'play arrow'}}{{/paper-button}}
  {{else}}
    {{#paper-button class="flex-none" raised=true fab=true onClick=(action 'canceltrackBusesTask')}}{{paper-icon 'stop'}}{{/paper-button}}
  {{/unless}}
  <span class="flex"></span>
  {{#paper-subheader}}Last updated at: {{moment-from-now globals.lastPolledAt hidePrefix=true}}{{/paper-subheader}}
</div>

  {{#each activeBuses as |bus|}}
    {{bus-card bus=bus}}
  {{/each}}
  
{{/paper-content}}