{{#paper-content padding=true}}
<div class="layout-row">
  {{#unless trackBusesTask.isRunning}}
    {{#paper-button class="flex-none" raised=true fab=true onClick=(perform trackBusesTask)}}{{paper-icon 'play arrow'}}{{/paper-button}}
  {{else}}
    {{#paper-button class="flex-none" raised=true fab=true onClick=(action 'canceltrackBusesTask')}}{{paper-icon 'stop'}}{{/paper-button}}
  {{/unless}}
  <span class="flex"></span>
  {{#paper-subheader}}Last updated at: {{moment-format globals.lastPolledAt 'LTS'}}{{/paper-subheader}}
</div>
<div class="layout-row">
  {{#if locationInvalid}}
    {{#paper-subheader}}Couldn't get your location{{/paper-subheader}} 
    {{paper-button onClick=(action 'forceGetCurrentPosition') label="Retry"}}
  {{/if}}
</div>

  {{#each sortedActiveBuses as |bus|}}
    {{bus-card bus=bus}}
  {{/each}}
  
{{/paper-content}}