{{#paper-card click=(action 'openFullMap') class="border-radius-15" as |card|}}
  {{#card.header as |header|}}
    {{#header.avatar}}
      {{paper-icon bus.directionIcon}}
    {{/header.avatar}}
    {{#header.text as |text|}}
      {{#text.title}}Route# {{bus.route}}{{/text.title}}
      {{#text.subhead}}{{bus.direction}} ({{bus.adherence}}){{/text.subhead}}
    {{/header.text}}
  {{/card.header}}

  {{card.image class='card-image' src=bus.staticMapImg}}

  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}{{bus.distanceText}}{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
      
  {{#card.content}}
    <p>{{bus.timePoint}}</p>
    <sub>updated at: {{bus.msgTime}}</sub>
  {{/card.content}}
{{/paper-card}}
{{#if showDialog}}
  {{#paper-dialog class="flex" fullscreen=true origin=dialogOrigin clickOutsideToClose=true}}
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h2>Route# {{bus.route}}</h2>
          <span class="flex"></span>
          {{#paper-button iconButton=true onClick=(action (mut showDialog) false)}}{{paper-icon icon="close"}}{{/paper-button}}
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      {{#paper-dialog-content}}
          <img src="{{bus.staticmapFullImg}}" alt="" >
      {{/paper-dialog-content}}
  {{/paper-dialog}}
{{/if}}
